@model ProjeListeleViewModel

@{
    ViewData["Title"] = "Proje Listeleme Ekranı";
}

<h1>Projeler</h1>
@if (Model.Projeler == null || !Model.Projeler.Any())
{
    <p>Kayıtlı Proje yoktur.</p>
}
else
{
    @foreach (var item in Model.Projeler)
    {
        <p>@item.Ad</p>
    }
}


