@model ProjeListeleViewModel

@{
    ViewData["Title"] = "Proje Listeleme Ekranı";
}

<h1>Projeler</h1>
<div class="text-right mb-1">
    <a class="btn btn-sm btn-info" asp-controller="Proje" asp-action="Ekle"><i class="fa fa-plus" aria-hidden="true"></i> Yeni Proje Ekle</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Ad</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Projeler == null || !Model.Projeler.Any())
        {
            <tr><td colspan="3">Kayıtlı Proje yoktur.</td></tr>
        }
        else
        {
            @foreach (var item in Model.Projeler)
            {
                <tr>
                    <td>@(item.Id)</td>
                    <td>@(item.Ad)</td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-controller="Proje" asp-action="Guncelle" asp-route-id="@(item.Id)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a class="btn btn-sm btn-danger"  asp-controller="Proje" asp-action="Sil" asp-route-id="@(item.Id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



