@model DilEkleViewModel 
@{
    ViewData["Title"] = "Yeni Dil Ekleme";
}

<h1>Yeni Dil Ekleme</h1>

<form asp-controller="Dil" asp-action="EklePost" method="post">
    <div class="form-group">
        <label>Dil Adı</label>
        <input asp-for="Dil.Ad" class="form-control" placeholder="Dili seçiniz">
        <span asp-validation-for="Dil.Ad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Anahtar</label>
        <input asp-for="Dil.Anahtar" class="form-control" placeholder="Anahtar">
        <span asp-validation-for="Dil.Anahtar" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        <input asp-for="Dil.Aciklama" class="form-control" placeholder="Açıklama">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
